$fontTitles:'Poppins', sans-serif;
$casualFont:'Roboto', sans-serif;
$fas:1.2em;
@mixin buttons($border,$borderradius,$cursor) {
    border:$border ;
    border-radius: $borderradius;
    cursor:$cursor;
}
@mixin aligment($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin wrapping ($wrap,$justify,$align){
    display:flex;
    flex-wrap:$wrap;    
    justify-content: $justify;
    align-items: $align;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: $casualFont;
}
body{
    background: #FBF8EE;
    height: 100vh;
    max-width: 100%;
    @include aligment(column,space-between ,center );

    header{
        @include aligment(row,space-between ,center );
        background: #051742;
        height: 10vh;
        width: 100%;
        padding:5px;
            h1{
            color:#D5EDE6;
            font-family: $fontTitles;
            font-size: 3em;
            width: 40%;
            text-align: center;
            }
            .setting_profil{
                color:#D5EDE6;
                max-width: 55%;
                min-width: 50%;
                @include aligment(row,space-between , center );
                .saveProfil,.ereaseProfil{
                    margin: 0 5px;
                    width:40px;
                    height:40px;
                    @include buttons(none,10px,pointer );
                    font-size: $fas;
                        .fa-save{
                            color:#94E75D;
                        }
                        .fa-backspace{
                            color:#C67E78;
                        }
                }/*Fin classs save/ereaseProfil*/
                .mise_Form{
                    width: 33%;
                    @include aligment(row,flex-start , center);
                    input{
                        border-width:0 0 2px 0;
                        border-color: #D5EDE6;
                        background: none;
                    }
                }
            }
     }
}